* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    --fonsztitle-font-size: 4vh;
    --colortitle-color:  #16205b;;
    /* outline: 1px solid red; */
   
    p{
      color: var(--colortitle-color);
    }

    a {
        text-decoration: none;
        color: inherit;
        font-family: inherit;
        font-size: inherit;
      }

  }

  button{
    align-items: center;
    background-color: #f5f2f2;
    box-shadow: 
      12px 12px 16px 0 rgba(0, 0, 0, 0.25),
      -8px -8px 12px 0 rgba(255, 255, 255, 0.3);


  }

  button:hover{
    background-color: #dadada;
  }


  header,
  main,
  footer {
    display: block;
  }

/* --------------------------------------------------- */
/* ----------------------------menu mobile ------------------------- */

.menu_mobile{
  display: flex; 
  justify-content: flex-start; 
  flex-direction: column;
  padding: 0;
}

.menu_mobile {
  background-color: rgb(55, 47, 160);
  color: white;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  width: 0;
  overflow-y: auto; 
  overflow: hidden;
  transition: .2s;
  font-weight: bold;
}

.bt_min_lig{
  justify-content: center;
  margin: 0 auto; 
}

.bt_min_lig button {
  text-align: center;
  background-color: #2bac52;
  color: white;
  border-radius: 25px;
  font-weight: bold;
  font-size: 18px;
  width: 50vw; 
  padding: 8px 2px;
  outline: none;
  border: none; 
  margin-top: 60vw;
}

.menu_mobile.abrir-menu{
  width: 65%;
}

.menu_mobile.abrir-menu ~ .orveley-menu{
  display: block;
}

.menu_mobile nav ul {
  text-align: right;
  padding: 0;
  margin: 0;
  list-style: none; 
}

.menu_mobile nav ul li {
  position: relative; 
  margin-bottom: 10px; 
}

.menu_mobile nav ul li a {
  font-size: 20px;
  padding: 20px 4%;
  font-weight: 300;
  display: block;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
}

.menu_mobile nav ul li a:hover {
  color: #0056b3; 
}

.orveley-menu{
  background-color: #0000009d;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 80;
  display: none;
}

/* ----------------- cabeçario mobile ----------------- */
.organize_cabecario_mobile{
  background-color: #16205B;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: none;
}

.bt_min_lig_mobile{
  justify-content: center;
  margin: 0 auto; 
}

.bt_minha_lig_mobile button{
  align-items: center;
  padding: 4px 10px;
  border-radius: 22px;
  background-color: rgb(255, 255, 255);
  border: none;
  text-align: center;
  width: 10vh;
  align-items: center;
  display: flex;
  /* justify-content: space-around; */
  /* gap: 1%; */
  font-weight: bold;
  font-size: 10px;
  margin-bottom: 5px;
}

.icon_bt_mobile{
  width: 14px;
  height: auto;
  fill: #16205b;
}
.btn_abrir_menu{
  right: ;: 10px;
}

.org_cabeçario_mobile{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* width: 60vh; */
  /* gap: 2vh; */
}

/* ---- menu ------ */
  .CABEÇARIO{
    display: flex;
    justify-content: space-around;
    align-items: center;
   
    
  }

  .CABEÇARIO h3{
    color: #ffffff;
    font-size: 3vh;
  }

  .organize_cabecario{
    background-color: #16205B;
  }

  #logo_top{
    width: 220px;
    margin-top: 10px;
  }

  .icon_bt{
    width: 20px;
    height: auto;
    fill: #16205b;
  }
  .bt_minha_lig button{
    align-items: center;
    padding: 8px 10px;
    border-radius: 22px;
    background-color: rgb(255, 255, 255);
    border: none;
    text-align: center;
    width: 15vh;
    align-items: center;
    display: flex;
    justify-content: space-around;
    gap: 1%;
  }

  .menu{
    display: flex;
    justify-content: space-around;
    gap: 2%;
    padding: 2% 25vw;
    list-style-type: none;
    font-size: 1.5vw;
  }

  .menu a{
    color: #ffffff;
    font-weight: bold;
  }

/*------------------ pageup ----------------------- */

#pageUpButton {
  position: fixed;
  bottom: 40px;
  right: 40px;
  display: none; /* Esconde inicialmente */
  background-color:  #16205b  ;
  color: rgb(166, 97, 97);
  border: none;
  padding: 4px 8px;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: opacity 0.3s;;
  align-items: center;
  display: flex;
  opacity: 0; /* Começa invisível */
  transform: translateY(20px); /* Começa deslocado */
  transition: opacity 0.3s, transform 0.3s; /* Transição suave */
}

#pageUpButton.show {
  display: block; /* Torna visível */
  opacity: 1; /* Totalmente visível */
  transform: translateY(0); /* Sem deslocamento */
}

#pageUpButton:hover {
  background-color: #16205B;
}

#icon_up{
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

/* ---------------------------- Trabalhe conosco ------------------------- */

.tbr-corpo{
  background-color: #f0f4f8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#cardContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none; 
  justify-content: center;
  align-items: center;
  z-index: 999;  
}

.card-tbr {
  background-color: #fff;
  width: 90%;
  max-width: 500px;
  padding: 20px;
  /* padding-top: 40px;
  padding-bottom: 40px; */
  border-radius: 10px;
  position: relative;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.card-tbr h2 {
  margin-bottom: 10px;
  color: #020024;
  font-size: 2.8vh;
}

.tbr_imp label {
  display: block;
  margin-top: 6px;
  font-weight: bold;
  color: #020024;
  font-size: 2vh;
}

.tbr_imp > input, textarea, select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button#submitBtn {
  margin-top: 10px;
  padding: 6px;
  background-color: #020024;
  color: #fff;
  border: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 15px;
  width: 80px;  
}

button#submitBtn:hover {
  background-color: #b3c233;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 1.5em;
  color: #aaa;
  cursor: pointer;
}

.close-btn:hover {
  color: #333;
}

  /* ------------------slider--------------------------------- */

  .slider {
    position: relative;
    width: 100%;
    /* height: 100%; */
    overflow: hidden;
  }

  .slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 100%;
  }

  .slides img {
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
  }

  .navigation {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
  }

  .navigation button {
    background: rgba(0, 0, 0, 0.5);
    border: none;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 50%;
    outline: none;
    font-size: 18px;
  }

  .navigation button:hover {
    background: rgba(0, 0, 0, 0.7);
  }


  /* -----------------------planos-------------------------------- */

  .plans-container {
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
    margin-top: 10px;
}

.plan-card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 1080px;
    height: 182px;
    margin: 0 auto;
    margin-top: 10px;

}

.plan-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 40%;
}

.Plano_banda h2 {
    font-size: 24px;
    color: #ffffff;
    margin: 0px;
    font-size: 64px;
}

.Plano_banda{
  background-color: #0c04a0;
  border-radius: 15px;
  padding: 10px 15px;
  color: #fff;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 245px;
  height: 158px;
}

.plan-info ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 75px;
    text-align: left;
}

.escolha_apss h6 {
  text-align: left;
}

.plan-info ul li {
    font-size: 14px;
    color: #555;
}

.plan-price {
    text-align: center;
    color: #8b8787;
}

.plan-price h2 {
    font-size: 52px;
    color: #2707da;
    margin: 0px;
    
}

.valos_plano{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2707da;
}

.plan-price button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.plan-price button:hover {
    background-color: #0056b3;
}

.img_logo_app{
  width: 40px;
}

.organize_logo_app{
  align-items: center;
  display: flex;
  gap: 5px;
  flex-direction: row;
}

.escolha_apss  a {
  text-decoration: underline;
  color: #0056b3; 
}

.escolha_apss button{
  width: 40px;
  height: 40px;
  border-radius: 10px;
  margin-top: 5px;
}

.organize_premiun {
  display: flex;
  flex-direction: row;
  gap: 60px;
}

/* ----------------- todos os app --------------- */

.modal-button {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 600px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);

}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.modal-header h2 {
  margin: 0;
  font-size: 24px;
}

.modal-header .close-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.app-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px;
}

.app-item {
  text-align: center;
  padding: 10px;
  /* background: #f9f9f9; */
  /* border: 1px solid #ddd; */
  border-radius: 8px;
}

.app-item img {
  max-width: 50px;
  margin-bottom: 10px;
}

.app-item span {
  font-size: 14px;
  display: block;
}

/* -------------------- */

.post-container {
  position: relative;
  /* max-width: 600px; */
  text-align: center;
}
.post-content {
  max-height: 100px;
  overflow: hidden;
  position: relative;
  transition: max-height 0.3s ease-in-out;
}
.post-content.expanded {
  max-height: 1500px; /* Altura grande suficiente para mostrar tudo */
}
.gradient-overlay {
  content: "";
  position: relative;
  margin-top: 10px;
  padding: 10px;
  background: linear-gradient(transparent, white);
  font-size: 1rem;
  color: #555;
  transition: opacity 0.3s ease-in-out;
}

.gradient-overlay h4 {
  font-size: 22px;
  
}

.post-content.expanded + .gradient-overlay {
  opacity: 0;
}
.toggle-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.toggle-button:hover {
  background-color: #0056b3;
}

/* ----------------- carosel --------------- */

.carousel {
    width: 80%;
    max-width: 900px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    margin-top: 60px;
    z-index: 1;
}

.carousel h2, .carousel h3{
text-align: center;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
    gap: 10px;
    margin-top: 20px;
}

.carousel-item {
    flex: 0 0 20%; /* 5 itens visíveis */
    /* opacity: 0.5; */
    transform: scale(0.8);
    transition: transform 0.3s, opacity 0.3s;
    text-align: center;
}

.carousel-item img {
    width: 100px;
    height: 100px;
}

.carousel-item p {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
}

.carousel-item.active {
    /* opacity: ; */
    /* transform: scale(1.2); Foco no item do meio */
}

.carousel-buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* transform: translateY(-50%); */
}

.button {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 18px;
}

.button:hover {
    background: rgba(0, 0, 0, 0.8);
}

.indicator-container {
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.indicator {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background: #ccc;
    border-radius: 50%;
    cursor: pointer;
}

.indicator.active {
    background: #007bff;
}

/* -----------lig tv---------- */
.post_litv {
  background-image: url("LIG - SITE/teste/fundp_ligTv.png");
  max-width: 100vw;
  height: 45.5vh; 
  z-index: -1;
  display: flex;
  flex-direction: row-reverse;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.organize_ligTv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  justify-content: flex-end;
  padding-bottom: 8vh;

}



.organize_ligTv button{
  gap: 15px;
  margin-top: 60px;
  width: 10vw;
  border-radius: 25px;
  padding: 10px 20px;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  
}

.org_bt_ligTV{
  flex-direction: row;
  gap: 10px;
  display: flex;
}

.logo_lig_tv{
  width: 110px;
}

/* ------------contato-------------- */

.post_contato{
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  padding: 0px;
  margin: 0;
}
.organize_Contato{
display: flex;
flex-direction: column;
justify-content: left;
align-items: flex-start;
width: 50%;
}

.logo_contato{
  width: 400px;
}

.post_contato h3{
  width: 50%;
  text-align: left;
}

.organize_Contato button{
  /* gap: 15px; */
  margin-top: 60px;
  width: 400px;
  border-radius: 25px;
  padding: 10px 20px;
  border: none;
  background-color: #0056b3;
  font-size: 42px;
  color: white;
  font-weight: bold;
}

.organize_Contato > button:hover{
  background-color: #013d7c;
}

#icon_wtz_contato{
width: 60px;
}

/* ------------serviços----------- */

.organize_serviçoes{
  display: flex;
  flex-direction: row;
  white-space: normal;
  flex-wrap: wrap;
}

.post_serviços{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.post_serviços h3{
  width: 69vh;
  margin-bottom: 20px;
  align-items: left;
  padding: 10px;
}

.post_serviçoss{
  img_serviçoss: 15px;
}

.img_servisos{
  width: 210px;
  height: auto;
  /* margin-bottom: 30px; */
  margin-top: 18px;
}

.img_servisos_post{
  width: 130vh;
}

.botao_serviço{
  padding: 10px 15px;
  border-radius: 15px;
  width: 180px;
  margin: 15px;
  align-items: center;
  display: flex;
  justify-content: center;
}
/* ------------------------------------minha lig --------------------*/

.post_minhalig {
  /* background-image: url("LIG - SITE/teste/fundo_minhaLig.png"); */

  width: 100%;
  height: 500px;
  z-index: -1;
  display: flex;
  flex-direction: row-reverse;

  margin-top: 80px;
  padding-top: 50px;
  font-size: 22px;
}

.org_post_minhalig{
display: flex;
flex-direction: row;
align-items: flex-end;
justify-content: flex-end;
margin: 0 auto;

}

.organize_minhalig{
  display: flex;
  flex-direction: column;
  justify-content:  space-around;
  align-items: flex-start;
  width: 50%;
  height: 100%;
  /* margin-top: 3vw;
  margin-left: 3vh; */
  height: 400px;

}

.logo_lig_minhalig{

}

.elemento_azul{
width: 100%;
height: 400px;
background-color: #16205b;
display: flex;
align-items: flex-end;
}

.organize_minhalig ul{
  color: white;
  font-size: 18px;
  text-align: left;
  justify-content: left;
  display: flex;
  margin-left: 45px;
}

.organize_minhalig h3 {
  margin-top: 20px;
  width: 50%;
  color: rgb(255, 255, 255);
  margin: 30px;
  font-size: 22px;
}

.organize_minhalig button{
  gap: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 18vh;
  border-radius: 25px;
  padding: 10px 20px;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
 
  
}

.img_serviçoss{
  width: 69vh;
}

.mobile_fundo{
  display: none;
}

/* --------------- post introdução ---------------- */

.post_01_introdução {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: auto;
  margin: 60px;
  
  
  align-items: center;
  justify-content: center;
  
  
}

#titulo_sobrenos {
  color: var(--colortitle-color);
  font-size: var(--fonsztitle-font-size);
}

.post_apresentação {
  display: flex;
  /* flex-direction: r; */
  gap: 50px;
  align-items: center;
  justify-content: center;
}

.img_apresentação {
  height: auto;
  width:  630px;
  justify-content: center;
}

.bot_introdução {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  text-wrap: bold;
  gap: 10px;
  flex: 0.8;
}

.cont_apresentação {
  display: flex;
  flex-direction: column;
  text-align: justify;
  gap: 10px;
  flex: 0.8;
}

.texto {
  display: none;
  padding: 1vh 4vh;
  text-align: justify;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 25px;
}

.bot_expancivo_intro {
  padding: 10px 20px;
  width: 100%;
  background-color:  #16205b ;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  align-items: center;
  font-size: 16px;
  text-align: left;
  font-weight: bold;
}

.bot_expancivo_intro:hover {
  background-color: #020024;
}

/*---------------------rodape----------------------*/

.rodape {
  width: 100%;
  height: auto;
  top: 25px;
  align-items: center;
}

.elemento-box_2 {
  width: 100%;
  height: fit-content;
  min-height: 400px;
  background-color: rgb(23, 10, 44);
  z-index: -1;
  justify-content: center;
}

.org_rod {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 6%;
  top: 25px;
  height: auto;
  justify-content: space-between;
  gap: 6%;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

.rodape n6 {
  color: white;
}

.rodape p {
  color: white;
  margin-top: 15px;
  line-height: 1.2;
  margin-bottom: 10px;
}

.endereços {
  width: 280px;
}

.logo-rod {
  width: 15%;
  min-width: 150px;
  height: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

.logo-rod img {
  width: 100%;
  height: 100%;

}

.icon {
  width: 18px;
  height: 18px;
  fill: #ffffff;
}

.post_app{
  display: flex;
  justify-content: center;
  align-content: space-around;
  margin: 20px ;
  gap: 25px;
}

.logo_app{
  width: 300px;
}

.organize_app{
  margin: 10px;
  font-size: 12px;
  width: 400px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-weight: lighter;

}
 /* ---------------------- rodape ------------------------ */

 @media screen and (max-width: 1800px) {
  .organize_serviçoes{
    justify-content: center;
  }
  
}

/* ----------------------------------------------------------------------- */

@media screen and (max-width: 640px) {

  .flex {
    flex-direction: column;
  }


 .org_rod {
  text-align: center;
}

body{
  width: 100%;
}



  /* ---------------------- menu ---------------------- */


  .organize_cabecario{
    display: none;
  }
  .organize_cabecario_mobile {
    display: block;
  }

  .logo_top {
    height: 14vw;
  }

  .icon_bt{
    display: block;
  }
  
  .item-fixo {
  position: absolute;
  top: 90%; 
  right: 10%;
  padding: 10px;
  background-color: #030749;
  color: var(--colortitle-color);
  border-radius: 100%;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: opacity 0.3s ease-in-out; 
  }

  .fixed {
  position: fixed;
  top: 90%; 
  right: 25%;
  opacity: 1; 
  z-index: 99;
  }


.plan-card {

  width: 95%;
  height: auto;


}

.plan-info {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 90%;
}

.organize_premiun{
  gap: 5px;
}

.post_litv{
  background-image: url("LIG - SITE/teste/fundo_mobile_ligTV.png");
  width: 100%;
  height: 584px;
  z-index: -1;
  display: flex;
  justify-content: center;
  background-repeat: no-repeat; /* Evita repetição da imagem */
    background-size: cover;
    background-position: center; 
}


.organize_ligTv{
margin-top: 25px;
  align-items: center;
  width: 90%;
  height: auto;
  text-align: center;
  justify-content: flex-start;

}

.organize_ligTv h3 {
  margin-top: 20px;
  width: 90%;
  font-size: 22px;
}

.organize_ligTv button{
  width: 160px;
  
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
 
  margin-top: 5px;
}

.org_bt_ligTV{
  flex-direction: row;
  gap: 5px;
 
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

.logo_lig_tv{
  width: 90px;
  
}
/* ---------  */

/* ---------fale conosco------- */
 .post_contato{
 
  height: 550px;

}
.organize_Contato{

flex-direction: column;
justify-content: space-between;
align-items: flex-start;
width: 95%;
}
 
.logo_contato{
  width: 268px;
}

.post_contato h3{
  width: 95%;
  text-align: center;
  font-size: 20px;
  
}

.organize_Contato button{
   width: 300px;
  font-size: 26px;
  justify-content: center;
  margin:  20px auto;
}

#icon_wtz_contato{
width: 60px;
} 

/* --------serviços -------------- */

.img_serviçoss{
  width: 100%;
  
}

.post_serviços h3{
  width: 95%;
  margin-bottom: 20px;
  align-items: left;
  padding: 10px;
}

/*  ----------------------  minha lig -------------- */

.post_minhalig{
  background-image: none;
  background-color: #161E5C;
  height: 750px;
  justify-content: space-between;
  align-items: flex-end;
}

.organize_minhalig{
  display: flex;
  flex-direction: column;
  justify-content:  space-around;
  align-items: flex-start;
  width: 100%;
  height: auto;

}

.organize_minhalig h3 {
  margin-top: 20px;
  width: 95%;
  color: white;
  margin-top: 30px;
}

.organize_minhalig button{
  margin-top: 10px;
}

.mobile_fundo{
  margin-top:  40px;
  display: block;
}

.logo_lig_minhalig{
  width: 360px;
  height: autos;
}

/* ---------------------- introdução ------------------------ */


.post_apresentação {
  display: flex;
  /* flex-direction: r; */
  /* gap: 50px; */
  width: 100%;
  align-items: center;
  justify-content: center;
}


.img_apresentação{
  width: 100%;
}

/* ************ */
.organize_cabecario{
 height: 100px;
}




#logo_top{
  width: 180px;
  margin: 10px auto;
}



}