* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    --fonsztitle-font-size: 4vh;
    --colortitle-color:  #16205b;;
    /* outline: 1px solid red; */
   
    p{
      color: var(--colortitle-color);
    }

    a {
        text-decoration: none;
        color: inherit;
        font-family: inherit;
        font-size: inherit;
      }

  }

  button{
    /* align-items: center; */
    background-color: #f5f2f2;
    box-shadow: 
      12px 12px 16px 0 rgba(0, 0, 0, 0.25),
      -8px -8px 12px 0 rgba(255, 255, 255, 0.3);

  }



  header,
  main,
  footer {
    display: block;
  }


  .menu_mobile{
    display: flex; 
    justify-content: flex-start; 
    flex-direction: column;
    padding: 0;
  }
  
  .menu_mobile {
    background-color: #16205b;
    color: white;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    width: 0;
    overflow-y: auto; 
    overflow: hidden;
    transition: .2s;
    font-weight: bold;
  }
  
  .bt_min_lig{
    justify-content: center;
    margin: 0 auto; 
  }
  
  .bt_min_lig button {
    text-align: center;
    background-color: #2bac52;
    color: white;
    border-radius: 25px;
    font-weight: bold;
    font-size: 18px;
    width: 200px; 
    padding: 8px 2px;
    outline: none;
    border: none; 
    margin-top: 20px;
    box-shadow: none;
    display: flex;
    justify-content: center;
    gap: 5px;
  }
  
  .menu_mobile.abrir-menu{
    width: 65%;
  }
  
  .menu_mobile.abrir-menu ~ .orveley-menu{
    display: block;
  }
  
  .menu_mobile nav ul {
    text-align: right;
    padding: 0;
    margin: 0;
    list-style: none; 
  }
  
  .menu_mobile nav ul li {
    position: relative; 
    margin-bottom: 10px; 
    margin-inline: 10px;
  }
  
  .menu_mobile nav ul li a {
    font-size: 20px;
    padding: 20px 4%;
    font-weight: 300;
    display: block;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
  }
  
  .menu_mobile nav ul li a:hover {
    color: #0056b3; 
  }
  
  .orveley-menu{
    background-color: #0000009d;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 80;
    display: none;
  }
  
  /* ----------------- cabeçario mobile ----------------- */
  
  .organize_cabecario_mobile{
    background-color: #16205B;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: none;
  }
  
  .bt_min_lig_mobile{
    justify-content: center;
    margin: 0 auto; 
  }
  
  .bt_minha_lig_mobile button{
    align-items: center;
    padding: 4px 10px;
    border-radius: 22px;
    background-color: rgb(255, 255, 255);
    border: none;
    text-align: center;
    width: 12vh;
    align-items: center;
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    font-size: 10px;
    margin-bottom: 5px;
    box-shadow: none
  }
  
  .icon_bt_mobile{
    width: 18px;
    height: auto;
    fill: #16205b;
  }
  
  .btn_abrir_menu{
  right: 10px;
  top: 10px;
    position: absolute;
  }
  
  
  .org_cabeçario_mobile{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  /* ---- menu ------ */
  
    .CABEÇARIO{
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  
    .CABEÇARIO h3{
      color: #ffffff;
      font-size: 3vh;
    }
  
    .organize_cabecario{
      background-color: #16205B;
      height: 120px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  
    #logo_top{
      width: 220px;
      margin-top: 10px;
    }
  
    .icon_bt{
      width: 20px;
      height: auto;
      fill: #16205b;
    }
  
    .org_icon{
      display: flex;
      flex-direction: row;
      gap: 5px;
      align-items: center;
    }
  
  .organize_botoes_menu{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .bt_minha_lig button{
    align-items: center;
    padding: 8px 10px;
    border-radius: 22px;
    background-color: rgb(255, 255, 255);
    border: none;
    text-align: center;
    width: 15vh;
    align-items: center;
    display: flex;
    justify-content: space-around;
    gap: 1%;
    font-weight: bold;
    color: #16205b;
    box-shadow: none;
  }
  
  .menu{
    display: flex;
    justify-content: flex-end;
    gap: 8%;
    list-style-type: none;
    font-size: 1.1vw;
    white-space: nowrap;
  }
  
  .menu ul{
    padding: 0px 0px;
  }
  
  .menu a{
    color: #ffffff;
    font-weight: bold;
  }
  
  .menu li{
    width: 100%;
  }
  
  /* ---------------------------- Trabalhe conosco ------------------------- */
  
  .tbr-corpo{
    background-color: #f0f4f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  #cardContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none; 
    justify-content: center;
    align-items: center;
    z-index: 999;  
  }
  
  .card-tbr {
    background-color: #fff;
    width: 90%;
    max-width: 500px;
    padding: 20px;
    /* padding-top: 40px;
    padding-bottom: 40px; */
    border-radius: 10px;
    position: relative;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }
  
  .card-tbr h2 {
    margin-bottom: 10px;
    color: #020024;
    font-size: 2.8vh;
  }
  
  .tbr_imp label {
    display: block;
    margin-top: 6px;
    font-weight: bold;
    color: #020024;
    font-size: 2vh;
  }
  
  .tbr_imp > input, textarea, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button#submitBtn {
    margin-top: 10px;
    padding: 6px;
    background-color: #020024;
    color: #fff;
    border: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 15px;
    width: 80px;  
  }
  
  button#submitBtn:hover {
    background-color: #b3c233;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 1.5em;
    color: #aaa;
    cursor: pointer;
  }
  
  .close-btn:hover {
    color: #333;
  }
  
  /* ------------- Botao whatsapp ------- */
  
  .Botao_whtt{
    position: fixed;
    border-radius: 100%;
    background-color: green;
    width: 50px;
    height: 50px;
    bottom: 40px;
    right: 40px;
    padding: 4px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* -----Cabeçario ceção ---- */
  .cabeçaroa_seção{
    background-color: #0056b3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100px;
    gap: 2px;
    color: white;
    font-size: 18px;
  }
  
  .cabeçaroa_seção ul{
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
    color: white;
    font-size: 16px;
  }



 

/* ----------------- todos os app --------------- */

.org_page_apps{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  flex-direction: column;
  margin:  0 auto;
  text-align: center;
  gap: 30px;
}

.app-grid {
  display: flex;
 justify-content: center;
  gap: 28px;
  flex-wrap: wrap;
  align-items: flex-start;
}

.app-item {
  text-align: center;
  padding: 10px;
  /* background: #f9f9f9; */
  /* border: 1px solid #ddd; */
  border-radius: 8px;
  width: 60px;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-item img {
  max-width: 60px;
  transform: 2s;
  /* margin-bottom: 10px; */
}

.app-item:hover img{
scale: 1px;
}

/* -------------------- */

.post-container {
  position: relative;
  /* max-width: 600px; */
  text-align: center;
}
.post-content {
  max-height: 100px;
  overflow: hidden;
  position: relative;
  transition: max-height 0.3s ease-in-out;
}
.post-content.expanded {
  max-height: 1500px; /* Altura grande suficiente para mostrar tudo */
}
.gradient-overlay {
  content: "";
  position: relative;
  margin-top: 10px;
  padding: 10px;
  background: linear-gradient(transparent, white);
  font-size: 1rem;
  color: #555;
  transition: opacity 0.3s ease-in-out;
}

.gradient-overlay h4 {
  font-size: 22px;
  
}

.post-content.expanded + .gradient-overlay {
  opacity: 0;
}
.toggle-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.toggle-button:hover {
  background-color: #0056b3;
}

/* ----------------- carosel --------------- */

.carousel {
    width: 80%;
    max-width: 900px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    margin-top: 60px;
    z-index: 1;
}

.carousel h2, .carousel h3{
text-align: center;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
    gap: 10px;
    margin-top: 20px;
}

.carousel-item {
    flex: 0 0 20%; /* 5 itens visíveis */
    /* opacity: 0.5; */
    transform: scale(0.8);
    transition: transform 0.3s, opacity 0.3s;
    text-align: center;
}

.carousel-item img {
    width: 100px;
    height: 100px;
}

.carousel-item p {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
}



.carousel-buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* transform: translateY(-50%); */
}

.button {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 18px;
}

.button:hover {
    background: rgba(0, 0, 0, 0.8);
}

.indicator-container {
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.indicator {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background: #ccc;
    border-radius: 50%;
    cursor: pointer;
}

.indicator.active {
    background: #007bff;
}

/* -----------lig tv---------- */
.post_litv{
  background-image: url("LIG - SITE/teste/fundp_ligTv.png");
  width: 100vw;
  height: 400px;
  z-index: -1;
  display: flex;
  flex-direction: row-reverse;
}

.organize_ligTv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;

}

.organize_ligTv h3 {
  margin-top: 20px;
  width: 50%;
  font-size: 22px;
}

.organize_ligTv button{
  gap: 15px;
  margin-top: 60px;
  width: 200px;
  border-radius: 25px;
  padding: 10px 20px;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  
}

.org_bt_ligTV{
  flex-direction: row;
  gap: 10px;
  display: flex;
}

.logo_lig_tv{
  width: 110px;
}

/* ------------contato-------------- */

.post_contato{
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  padding: 0px;
  margin: 0;
}
.organize_Contato{
display: flex;
flex-direction: column;
justify-content: left;
align-items: flex-start;
width: 50%;
}

.logo_contato{
  width: 400px;
}

.post_contato h3{
  width: 50%;
  text-align: left;
}

.organize_Contato button{
  /* gap: 15px; */
  margin-top: 60px;
  width: 400px;
  border-radius: 25px;
  padding: 10px 20px;
  border: none;
  background-color: #0056b3;
  font-size: 42px;
  color: white;
  font-weight: bold;
}

#icon_wtz_contato{
width: 60px;
}

/* ------------serviços----------- */

.organize_serviçoes{
  display: flex;
  flex-direction: row;
  white-space: normal;
  flex-wrap: wrap;
}

.post_serviços{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.post_serviços h3{
  width: 69vh;
  margin-bottom: 20px;
  align-items: left;
  padding: 10px;
}

.img_servisos{
  width: 210px;
  height: auto;
  /* margin-bottom: 30px; */
  margin-top: 18px;
}

.img_servisos_post{
  width: 130vh;
}

.botao_serviço{
  padding: 10px 15px;
  border-radius: 15px;
  width: 180px;
  margin: 15px;
  align-items: center;
  display: flex;
  justify-content: center;
}
/* ------------------------------------minha lig --------------------*/

.post_minhalig{
  /* background-image: url("LIG - SITE/teste/fundo_minhaLig.png"); */
  width: 100%;
  height: 500px;
  z-index: -1;
  display: flex;
  flex-direction: row;
  margin-top: 80px;
  padding: 50px;
  font-size: 22px;
}

.organize_minhalig{
  display: flex;
  flex-direction: column;
  justify-content:  space-around;
  align-items: center;
  width: 50%;
  height: 100%;
  margin-top: 30px;

}

.organize_minhalig ul{
  color: white;
  font-size: 18px;
  text-align: left;
  justify-content: left;

}

.organize_minhalig h3 {
  margin-top: 20px;
  width: 50%;
  color: rgb(79, 49, 216);
  margin: 30px;
  font-size: 22px;
}

.organize_minhalig button{
  gap: 15px;
  margin-top: 60px;
  width: 200px;
  border-radius: 25px;
  padding: 10px 20px;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  
}

.img_serviçoss{
  width: 69vh;
}

.mobile_fundo{
  display: none;
}

/* --------------- post introdução ---------------- */

.post_01_introdução {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: auto;
  margin: 60px;
  
  
  align-items: center;
  justify-content: center;
  
  
}

#titulo_sobrenos {
  color: var(--colortitle-color);
  font-size: var(--fonsztitle-font-size);
}

.post_apresentação {
  display: flex;
  /* flex-direction: r; */
  gap: 50px;
  align-items: center;
  justify-content: center;
}

.img_apresentação {
  height: auto;
  width:  630px;
  justify-content: center;
}

.bot_introdução {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  text-wrap: bold;
  gap: 10px;
  flex: 0.8;
}

.cont_apresentação {
  display: flex;
  flex-direction: column;
  text-align: justify;
  gap: 10px;
  flex: 0.8;
}

.texto {
  display: none;
  padding: 1vh 4vh;
  text-align: justify;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 25px;
}

.bot_expancivo_intro {
  padding: 10px 20px;
  width: 100%;
  background-color:  #16205b ;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  align-items: center;
  font-size: 16px;
  text-align: left;
  font-weight: bold;
}

.bot_expancivo_intro:hover {
  background-color: #020024;
}

/*---------------------rodape----------------------*/

.rodape {
  width: 100%;
  height: auto;
  top: 25px;
  align-items: center;
}

.elemento-box_2 {
  width: 100%;
  height: fit-content;
  min-height: 400px;
  background-color: rgb(23, 10, 44);
  z-index: -1;
  justify-content: center;
}

.org_rod {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 6%;
  top: 25px;
  height: auto;
  justify-content: space-between;
  gap: 6%;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

.rodape n6 {
  color: white;
}

.rodape p {
  color: white;
  margin-top: 15px;
  line-height: 1.2;
  margin-bottom: 10px;
}

.endereços {
  width: 280px;
}

.logo-rod {
  width: 15%;
  min-width: 150px;
  height: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

.logo-rod img {
  width: 100%;
  height: 100%;

}

.icon {
  width: 18px;
  height: 18px;
  fill: #ffffff;
}

.post_app{
  display: flex;
  justify-content: center;
  align-content: space-around;
  margin: 20px ;
  gap: 25px;
}

.logo_app{
  width: 300px;
}

.organize_app{
  margin: 10px;
  font-size: 12px;
  width: 400px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  font-weight: lighter;

}

.organize_app ul{
  margin: 15px;
}

.organize_app li{
  margin-top: 15px;
}

.img_org_app{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* --------- */
.cabeçaroa_seção{
  background-color: #0056b3;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 110px;
  gap: 2px;
  color: white;
  font-size: 22px;
}

.cabeçaroa_seção ul{
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style: none;
  color: white;
}
 /* ---------------------- rodape ------------------------ */

 @media screen and (max-width: 1600px) {
  
}

/* ----------------------------------------------------------------------- */

@media screen and (max-width: 640px) {

  .flex {
    flex-direction: column;
  }


 .org_rod {
  text-align: center;
}



.organize_cabecario{
  display: none;
}



.organize_cabecario_mobile {
  display: block;
}

.logo_top {
  height: 14vw;
}

.icon_bt{
  display: block;
}

.item-fixo {
position: absolute;
top: 90%; 
right: 10%;
padding: 10px;
background-color: #030749;
color: var(--colortitle-color);
border-radius: 100%;
box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
opacity: 0;
transition: opacity 0.3s ease-in-out; 
}

.fixed {
position: fixed;
top: 90%; 
right: 25%;
opacity: 1; 
z-index: 99;
}


/* ************ */
.organize_cabecario{
 height: 100px;
}

.bt_minha_lig button{
  display: none;
}

#numero{
  display: none;
}

#logo_top{
  width: 180px;
  margin: 10px auto;
}

.Botao_whtt{
  right: 25px;
  z-index: 99;
}

}